.content {
  margin-top: 60px;
}

.desugaala-banner {
  background: url(../img/bg.jpg);
  color: #efefef;
}

.category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category li {
  background-color: #eee;
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  height: 18px;
}

.category li:hover {
  background-color: #ddf;
  cursor: move;
}

.category li .ui-icon {
  position: absolute;
  margin-left: -1.3em;
}

.category li.deadline {
  padding: 0.1em;
  padding-left: 1.5em;
  height: 15px;
  border-top: 2pt solid red;
}

.category li.deadline .text {
  font-size: 11px;
}

.credit {
  margin-top: 1.5em;
}

.error, .triumph {
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.error {
  background-color: #fee;
  color: #966;
}

.triumph {
  background-color: #efe;
  color: #696;
}

.categories {
  margin-bottom: 3em;
}