body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.desugaala-banner {
  background: url(../img/bg.jpg);
  color: #efefef;
}

.category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category li {
  display: block;
  text-align: left;
  margin: 0.2em 0 0.2em 0;
}

.category li, .category li a {
  cursor: move;
}

.deadline {
  line-height: 20px !important;
}

.credit {
  margin-top: 1.5em;
}

.error, .triumph {
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.error {
  background-color: #fee;
  color: #966;
}

.triumph {
  background-color: #efe;
  color: #696;
}

.categories {
  margin-bottom: 3em;
}

.category-picture-preview {
  text-align: center;
}

.category-picture img, .category-picture-preview img {
  max-width: 100%;
}

.pairs-table .title {
  width: 35%;
}

.pairs-table .palks {
  width: 55%;
  vertical-align: center;
}

.pairs-table .palks .progress {
  padding: 0;
  margin: 0;
}
