h2 Kiitos!
p Äänesi on nyt tallennettu. Kiitos äänestäsi!
p 
  | Tulokset julkistetaan
  a(href='http://blog.cft.fi') Cosplay Finland Tourin blogissa
  |  sunnuntaina 16. helmikuuta 2014.
p
  a(href='http://www.cft.fi') Takaisin Cosplay Finland Tourin sivuille
