doctype 5
html
  head
    title DesuGaala 2012
    script
      window.desugaalaCsrfToken='{{ csrf_token }}';
    include assets.html
    if GOOGLE_ANALYTICS_TOKEN
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_TOKEN }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          span.navbar-brand DesuGaala 2012   
          ul.nav.navbar-nav
            li: a(href='http://desucon.fi/frostbite') Takaisin Desucon Frostbiten sivuille
    
    .content
      block content

    .container.footer
      hr
      p.muted.credit
        | Kehittyvien conien Suomi ry 2013 &middot; Toteuttanut
        a(href="http://twitter.com/ssspaju", target="_blank") Santtu "Japsu" Pajukanta
        |  &middot; Yhteistyössä
        a(href="http://b2.fi") Säätöyhteisö B2 ry
