doctype 5
html
  head
    title Hello, World!
    link(rel='stylesheet', href='{{ STATIC_URL }}css/bootstrap.min.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.9.2.custom.min.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}css/desugaala.css')
    script
      window.desugaalaCsrfToken='{{ csrf_token }}';
    script(src='{{ STATIC_URL }}js/jquery-1.8.3.min.js')
    script(src='{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js')
    script(src='{{ STATIC_URL }}js/bootstrap.min.js')
    script(src='{{ STATIC_URL }}js/lodash.min.js')
    script(src='{{ STATIC_URL }}js/Bacon.js')
    script(src='{{ STATIC_URL }}js/Bacon.ajax.js')
    script(src='{{ STATIC_URL }}js/desugaala.js')

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          span.brand DesuGaala 2012   
          ul.nav
            li: a(href='http://desucon.fi/frostbite') Takaisin Desucon Frostbiten sivuille
    
    div.container.content
      block content

    div.container.footer
      p.muted.credit
        | Kehittyvien conien Suomi ry 2013 &middot; Toteuttanut
        a(href="http://twitter.com/ssspaju", target="_blank") Santtu "Japsu" Pajukanta
        |  &middot; Yhteistyössä
        a(href="http://b2.fi") Säätöyhteisö B2 ry