h2 {{ category.title }}
if category.description
  p {{ category.description|safe }}

.row.clearfix
  .col-md-2(data-category='{{ category.id }}')
    ul.category.category-picture
      li.deadline.btn.btn-small.btn-danger Kuolonlinja!
      for option in options
        li(data-option='{{ option.id }}', data-preview='{{ option.picture.preview }}').option
          a(href='{{ option.picture.link }}', target='_blank')
            img(src='{{ option.picture.thumbnail }}', alt='{{ option.title }}')

  .category-picture-preview.col-md-10.hidden-xs.hidden-sm
    a(href='{{ options.0.picture.link }}', target='_blank')
      img(src='{{ options.0.picture.preview }}', alt='{{ options.0.title }}')