extends base.jade

block content
  div.hero-unit
    h1 DesuGaala 2012
    p Viime kerralla Frostbitessä nähtiin ensimmäistä kertaa "animeskenen vuosijuhla", DesuGaala, jossa jaettiin palkintoja animevuoden 2011 tärkeille ansioille. Nyt DesuGaala palaa Desucon Frostbiteen ja kaikilla on oikeus ja suorastaan velvollisuus äänestää! Desucon Frostbiteen ei tarvitse päästä, kunhan suosikkeja riittää ja niille haluaa antaa äänensä.
    p DesuGaalassa 2012 palkintoja jaetaan seuraavissa sarjoissa:
    ul
      li Vuoden tapahtuma
      li Vuoden kotimainen mangajulkaisu
      li Vuoden kunniavieras
      li Vuoden skeneilmiö
      li Vuoden puheohjelma
      li Vuoden cosplay(ryhmä)

  h2 Kirjaudu sisään
  p
    | Äänestämiseen tarvitset tunnuksen
    a(href='http://forums.aniki.fi', target='_blank') Anikin foorumeille!

  h2 Anna äänesi
  p 

    for category in categories
      h3 {{ category.title }}

  h2 Lähetä