extends base.jade

block content
  .jumbotron(class="{{ DESUGAALA_TEMPLATE_PACK }}-banner")
    .container {{ jumbotron|safe }}

  .container
    if DEMO_MODE
      .well
        h2 Äänestys ei vielä ole käynnissä!
        p Tämä on vasta keskeneräinen versio äänestysjärjestelmästä.
        p
          | Voit kokeilla äänestystä käyttäjätunnuksella
          tt desu
          |  ja salasanalla 
          tt salainen
          | .
        p 
          | Jos haluat nähdä, mitä tapahtuu kun yrittää äänestää tunnuksella joka on jo äänestänyt, kokeile äänestää käyttäjätunnuksella
          tt onjo
          |  ja salasanalla 
          tt aanestetty
          | .

    #vote-page
      // hack for scrolling
      #login

      .well
        h2 Kirjaudu sisään Anikin foorumitunnuksellasi!
        p
          | Äänestämiseen tarvitset tunnuksen
          a(href='http://forums.aniki.fi', target='_blank') Anikin foorumeille
          | .

        include login_form.html

        .already-voted.error
          i.icon-warning-sign
          |  Olet jo äänestänyt.

        .login-failed.error
          i.icon-warning-sign
          |  Sisäänkirjautuminen epäonnistui. Tarkista käyttäjätunnus ja salasana.

        .login-ok.triumph
          i.icon-ok
          |  Sisäänkirjautuminen onnistui. Voit nyt antaa äänesi alla.

      .well
        h2 Anna äänesi!
        p Vedä suosikkisi hiirellä mieleiseesi paremmuusjärjestykseen &ndash; mieluisin ylimmäksi! Voit äänestää niin montaa ehdokasta kuin haluat. Jätä pohjalle punaisen viivan alle ne ehdokkaat, joita et halua äänestää.
        p.muted.small
          | Äänet lasketaan 
          a(href="http://en.wikipedia.org/wiki/Schulze_method") Schulzen menetelmällä
          | .

      for category, options in categories_options
        .well.category-wrap {{ category.render }}
      
      .well
        h2 Lähetä

        p Tässä olivat kaikki sarjat! Lähetä äänesi painamalla Lähetä-painiketta.

        #not-logged-in.error
          i.icon-warning-sign
          |  Et ole vielä kirjautunut sisään.
          a(href='#login') Kirjaudu sisään

        .already-voted.error
          i.icon-warning-sign
          |  Olet jo äänestänyt.

        button.btn.btn-large.btn-primary#send-button Lähetä

    #thanks-page
      .well {{ thanks|safe }}

    #oops-page
      .well
        h2 Voi rähmä!
        p Jotain meni pieleen eikä ääntäsi valitettavasti saatu tällä kertaa rekisteröityä!
        p Yritäthän myöhemmin uudelleen.
        p 
          | Jos virhe toistuu, voit vaikka tweetata hellästi mutta äkäisesti
          a(href='https://twitter.com/ssspaju', target='_blank') Japsulle
          | .
