extends base.jade
{% load crispy_forms_tags %}

block content
  div.hero-unit
    h1 DesuGaala 2012
    p Viime kerralla Frostbitessä nähtiin ensimmäistä kertaa "animeskenen vuosijuhla", DesuGaala, jossa jaettiin palkintoja animevuoden 2011 tärkeille ansioille. Nyt DesuGaala palaa Desucon Frostbiteen ja kaikilla on oikeus ja suorastaan velvollisuus äänestää! Desucon Frostbiteen ei tarvitse päästä, kunhan suosikkeja riittää ja niille haluaa antaa äänensä.
    p DesuGaalassa 2012 palkintoja jaetaan seuraavissa sarjoissa:
    ul
      li Vuoden tapahtuma
      li Vuoden kotimainen mangajulkaisu
      li Vuoden kunniavieras
      li Vuoden skeneilmiö
      li Vuoden puheohjelma
      li Vuoden cosplay

  h2 Kirjaudu sisään
  p
    | Äänestämiseen tarvitset tunnuksen
    a(href='http://forums.aniki.fi', target='_blank') Anikin foorumeille!

  div {% crispy login_form %}

  h2 Anna äänesi
  p Vedä suosikkisi hiirellä mieleiseesi paremmuusjärjestykseen! Voit äänestää niin montaa ehdokasta kuin haluat. Jätä pohjalle ne ehdokkaat, joita et halua äänestää.

  for category, options in categories_options
    h3 {{ category.title }}
    ul.category(data-category='{{ category.id }}')
      li.deadline
        span.ui-icon.ui-icon-arrowthick-2-n-s
        span.text Nosta kaikki suosikkisi paremmuusjärjestyksessä tämän linjan yläpuolelle!
      for option in options
        li(data-option='{{ option.id }}')
          span.ui-icon.ui-icon-arrowthick-2-n-s
          span.text {{ option.title }}
  
  h2 Lähetä

  ul.errors
    li#have-not-logged-in
      | Et ole vielä kirjautunut sisään.
      a(href='#login') Kirjaudu sisään
    li#have-not-voted Et ole vielä äänestänyt missään kategoriassa.

  button.btn#send-button Lähetä