extends base.jade

block content
  .hero-unit.desugaala-banner
    h1 DesuGaala 2012
    p Viime kerralla Frostbitessä nähtiin ensimmäistä kertaa "animeskenen vuosijuhla", DesuGaala, jossa jaettiin palkintoja animevuoden 2011 tärkeille ansioille. Nyt DesuGaala palaa Desucon Frostbiteen ja kaikilla on oikeus ja suorastaan velvollisuus äänestää! Desucon Frostbiteen ei tarvitse päästä, kunhan suosikkeja riittää ja niille haluaa antaa äänensä.
    p DesuGaalassa 2012 palkintoja jaetaan seuraavissa sarjoissa:
    ul
      li Vuoden tapahtuma
      li Vuoden kotimainen mangajulkaisu
      li Vuoden kunniavieras
      li Vuoden skeneilmiö
      li Vuoden puheohjelma
      li Vuoden cosplay

  // hack for scrolling
  #login

  .hero-unit
    h2 Kirjaudu sisään Anikin foorumitunnuksellasi!
    p
      | Äänestämiseen tarvitset tunnuksen
      a(href='http://forums.aniki.fi', target='_blank') Anikin foorumeille
      | .

    #login-form
      div {{ login_form }}
      button.btn.btn-large.btn-primary#login-button Kirjaudu sisään

    .already-voted.error
      i.icon-warning-sign
      |  Olet jo äänestänyt.

    .login-failed.error
      i.icon-warning-sign
      |  Sisäänkirjautuminen epäonnistui. Tarkista käyttäjätunnus ja salasana.

    .login-ok.triumph
      i.icon-ok
      |  Sisäänkirjautuminen onnistui. Voit nyt antaa äänesi alla.

  .hero-unit
    h2 Anna äänesi!
    p Vedä suosikkisi hiirellä mieleiseesi paremmuusjärjestykseen &ndash; mieluisin ylimmäksi! Voit äänestää niin montaa ehdokasta kuin haluat. Jätä pohjalle punaisen viivan alle ne ehdokkaat, joita et halua äänestää.
    p.muted.small
      | Äänet lasketaan 
      a(href="http://en.wikipedia.org/wiki/Schulze_method") Schulzen menetelmällä
      | .

  for category, options in categories_options
    .hero-unit
      h2 {{ category.title }}
      ul.category(data-category='{{ category.id }}')
        li.deadline.btn.btn-small.btn-danger Nosta kaikki suosikkisi paremmuusjärjestyksessä tämän linjan yläpuolelle!
        for option in options
          li(data-option='{{ option.id }}').option.btn
            i.icon-resize-vertical
            | {{ option.title }}
  
  .hero-unit
    h2 Lähetä

    p Tässä olivat kaikki sarjat! Lähetä äänesi painamalla Lähetä-painiketta.

    #not-logged-in.error
      i.icon-warning-sign
      |  Et ole vielä kirjautunut sisään.
      a(href='#login') Kirjaudu sisään

    .already-voted.error
      i.icon-warning-sign
      |  Olet jo äänestänyt.

    button.btn.btn-large.btn-primary#send-button Lähetä