extends base.jade
{% load crispy_forms_tags %}

block content
  div.hero-unit
    h1 DesuGaala 2012
    p Viime kerralla Frostbitessä nähtiin ensimmäistä kertaa "animeskenen vuosijuhla", DesuGaala, jossa jaettiin palkintoja animevuoden 2011 tärkeille ansioille. Nyt DesuGaala palaa Desucon Frostbiteen ja kaikilla on oikeus ja suorastaan velvollisuus äänestää! Desucon Frostbiteen ei tarvitse päästä, kunhan suosikkeja riittää ja niille haluaa antaa äänensä.
    p DesuGaalassa 2012 palkintoja jaetaan seuraavissa sarjoissa:
    ul
      li Vuoden tapahtuma
      li Vuoden kotimainen mangajulkaisu
      li Vuoden kunniavieras
      li Vuoden skeneilmiö
      li Vuoden puheohjelma
      li Vuoden cosplay

  h2 Kirjaudu sisään
  p
    | Äänestämiseen tarvitset tunnuksen
    a(href='http://forums.aniki.fi', target='_blank') Anikin foorumeille!

  div {% crispy login_form %}

  h2 Anna äänesi
  p Vedä suosikkisi hiirellä mieleiseesi paremmuusjärjestykseen! Voit äänestää niin montaa ehdokasta kuin haluat. Jätä pohjalle ne ehdokkaat, joita et halua äänestää.

  for category in categories
    h3 {{ category.title }}
    ul.options(data-category='{{ category.id }}')
      li.deadline Nosta kaikki suosikkisi paremmuusjärjestyksessä tämän linjan yläpuolelle!
      for option in category.option_set.all
        li {{ option.title }}

  h2 Lähetä