extends base

block content
  h1 Väliaikatilanne

  table.table
    tbody
      tr
        th Päivitetty
        td {{ timestamp|date:"DATETIME_FORMAT" }} (päivittyy 15 minuutin välein)
      tr
        th Ääniä yhteensä
        td {{ num_votes }} ääntä

  h2 Sarjain voittajat

  table.table.table-striped
    thead
      th Sarja
      th Ääniä sarjassa
      th Voittaja
    tbody
      for category, winner, tied_winners, category_num_votes in categories
        tr
          th {{ category.title }}
          td {{ category_num_votes }} ääntä
          td
            if tied_winners
              | Jaettu voitto:
              ul
                for tied_winner in tied_winners
                  li {{ tied_winner.title }}
            elif winner
              | {{ winner.title }}

  h2 Parivertailu

  table.table.table-striped.pairs-table
    thead
      tr: td(colspan=3) Kustakin parista ilmoitetaan, kuinka moni piti yhtä parempana kuin toista ja päin vastoin. Jos haluat parivertailuun lisää pareja, pyydä niitä Japsulta.
    tbody
      for category, options in watches
        tr: th(colspan=3, style='background-color: white; border-top: none') {{ category.title }}
        for option, num_votes, percentage in options
          tr
            td.title {{ option.title|truncatewords:4 }}
            td.votes {{ num_votes }} ääntä
            td.palks
              div(class='progress {% cycle "progress-success" "" %}')
                .bar(style='width: {{ percentage }}%')
        tr: th(colspan=3) &nbsp;
