p.muted.credit 
  | Kehittyvien conien Suomi ry 2013 &middot; Toteuttanut
  a(href="http://twitter.com/ssspaju", target="_blank") Santtu "Japsu" Pajukanta
  |  &middot; Yhteistyössä
  a(href="http://b2.fi") Säätöyhteisö B2 ry
