h2 Kiitos!
p Äänesi on nyt tallennettu. Kiitos äänestäsi!
p Tulokset julkistetaan Desucon Frostbitessä sunnuntaina 16. helmikuuta 2014.
p
  a(href='http://desucon.fi/frostbite') Takaisin Desucon Frostbiten sivuille
